/.venv
/.idea
.env
db.sqlite3
/media
*/migrations
replays/management
texts/


_static/
staticfiles/
tools/
*__pycache__/
lesta-replays.ru
tailwindcss.exe
*.DS_Store
cert.crt
cert.key
.cursor/rules/
.gemini/settings.json
node_modules/
CLAUDE.MD
.claude/
static/favicon.png
