/.venv
/.idea
.env
db.sqlite3
/media
*/migrations
texts/
.vscode/


_static/
staticfiles/
tools/
*__pycache__/
lesta-replays.ru
tailwindcss.exe
*.DS_Store
cert.crt
cert.key
.cursor/rules/
.gemini/settings.json
node_modules/
.claude/
static/favicon.png
static/css/output.css
replays/management/commands/
batle_result.json
lesta_replays.session.sql
