/.venv
/.idea
/.vscode
.env
db.sqlite3
/media/
/!_media/
*/migrations
texts/
replays/management/commands/
lesta_replays.session.sql
.vscode/

_static/
staticfiles/
tools/
*__pycache__/
lesta-replays.ru
tailwindcss.exe
*.DS_Store
cert.crt
cert.key
.cursor/rules/
.gemini/settings.json
node_modules/
.claude/
static/favicon.png
static/css/output.css
batle_result.json
