{# templates/includes/_navbar.html #}
{% load static %}
<header class="site-header">
  <div class="header-row">
    <a class="brand" href="/">
      <img src="{% static 'style/images/wot/logo.png' %}" alt="Логотип" class="brand-logo">
      <span class="brand-text">РЕПЛЕИ</span>
    </a>
    <nav class="nav">
      <button id="upload-replay-btn" class="big-red-button" type="button">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
          <path d="M7.646 1.146a.5.5 0 0 1 .708 0L10.5 3.293V10a.5.5 0 0 1-1 0V4.414L8.354 5.56a.5.5 0 0 1-.708-.708L8.5 4.207V10a.5.5 0 0 1-1 0V3.707L6.354 4.854a.5.5 0 1 1-.708-.708l2-2z"/>
          <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
        </svg>
        Загрузить
      </button>

        {% if user.is_authenticated %}
          &nbsp;&nbsp;&nbsp;&nbsp; {{ user.username }} &nbsp;&nbsp;&nbsp;&nbsp;  |
{#          <a href="{% url 'account_email' %}">Мой e-mail</a> |#}
          <a href="{% url 'account_logout' %}">Выйти</a>
        {% else %}
          <a href="{% url 'account_login' %}">Войти</a>
        {% endif %}

      <a href="{% url 'about' %}">О проекте</a>
    </nav>
  </div>

    {# DEV banner — перед контентом #}
<div id="dev-banner" class="site-banner site-banner--dev" role="alert" aria-live="polite">
  <div class="site-banner__inner">
    <strong>Портал в стадии активной разработки.</strong>
    Возможны временные сбои. Если вы видите ошибку — напишите в
    <a href="https://t.me/inetsmol" target="_blank" rel="noopener">Telegram @inetsmol</a>
    или на почту <a href="mailto:inetsmol@gmail.com">inetsmol@gmail.com</a>.
  </div>
</div>
</header>